.container
{
    width: 100%;
    margin-top: 10%;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.container h2{
    background-color:  #cc007e;
    columns: #fff;
    width: 200px;
    font-size: 24px;
    padding: 5px;
    height: 40px;
}
.container h2:hover{
    content: '';
    border-top: 5px solid #0066cc;
    border-radius: 40px solid transparent;
    left: 48px;
    top: 30px;
}
.row{
    margin-top: 30px;
}
img{
    width: 100%;
}
.product-bottom.fa{
    color: #28a745;
    font-size: 10px;
}
.product-bottom h3{
    font-size: 20px;
    font-weight: bold;
}
.product-bottom h5{
    font-size: 15px;
    padding-bottom: 10px ;
}
.overlay{
    display: block;
    opacity: 0;
    position: absolute;
    top: 50%;
    margin-left: 0;
    width: 70px;
}
.product-top:hover .overlay{
    opacity: 1;
    margin-left: 1%;
    transition: 0.5s;

}
.overlay .fa{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin: 5%;
    margin-bottom: 5%;
}
.overlay .btn-secondary{
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
